.logo-banner-wrapper{
    width: 100%;
    max-width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    background-color: #c62368;
    color: white;
}

.logo-banner-phone{
    font-size: 10px;

}

.logo-img{
    width: 70px;
    border-radius: 50%;

   
}